body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #ff0001;
    overflow: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 2.5px;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    background-colour: white;
}
#loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #FF0001;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#output-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
#upload-preview-container {
    width: 125px;
    height: 125px;
    overflow: hidden;
    display: none;
    margin-bottom: 5px;
    position: relative;
}
#upload-preview {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#file-name {
    display: none;
    margin-top: 2.5px;
    font-size: 0.45em;
    color: #555;
}
.background-thumbnail {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 2.5px;
    border: 3px solid transparent;
    cursor: pointer;
}
.background-thumbnail.selected {
    border: 3px solid white;
}
.thumbnails-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-copyright {
    font-size: 0.25em;
    vertical-align: sub;
    margin-left: 0.15rem;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"] + label {
    display: inline-block;
    padding: 5px 25px;
    color: #ff0001;
    background-color: white;
    border-radius: 2.5px;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem;
}

input[type="file"] + label:hover {
    background-color: #e5e5e5;
}

#file-name {
    margin-top: 2.5px;
    font-size: 0.45em;
    color: #555;
    display: none;
}

.swiper-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    padding: 10px 25px;
    color: #ff0001;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin: 1.5rem;
}

button:hover{
    background-color: #e5e5e5;
}

.swiper-wrapper-container {
    margin: 10px;
    width: 340px;
    height: 80px;
    position: relative;
}

.swiper-container {
    width: 260px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    overflow: hidden !important;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;

}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 2rem !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    position: absolute !important;
    top: 90% !important;
    transform: translateY(-50%) !important;
    z-index: 10;
}
