<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CART &copy; Meme Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_mob_wix.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img id="output-image" src="/static/placeholder.png" alt="Cart Image">
            <div id="loader"></div>
        </div>
        <form id="upload-form" method="post" action="/upload" enctype="multipart/form-data">
            <input id="file-input" type="file" name="file" accept="image/*">
            <label for="file-input">UPLOAD IMAGE</label>
            <div id="file-name"></div>
            <input type="hidden" name="background" id="selected-background" required>
        </form>
        <h3>CHOOSE A BACKGROUND</h3>
        <div class="swiper-wrapper-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for thumb, background in backgrounds %}
                        <div class="swiper-slide">
                            <img class="background-thumbnail" src="/static/backgrounds/thumbnails/{{ thumb }}" data-background="{{ background }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <button id="download-button">DOWNLOAD</button>
    </div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>
